
.mat-button-toggle-group{
	border-width: 0px;
	gap: 1rem;
	box-shadow: none;
	overflow: auto;
	overflow-y: hidden;
	padding: 8px;
	display: flex;
	max-width: 717px;
	width: fit-content;
	margin-bottom: 1rem;
}

.mat-button-toggle{
    background-color: white;
    color: black;
	border-radius: 4rem;
	border-width: 1px;
	border-color: #e0e0e0;
}

.mat-button-toggle-checked {
    background-color: #e729299d;
    color: black !important;
}
