<header class="w-full relative justify-center flex bg-white p-0 border-b-[1px] border-solid border-primary ">
	<div class=" flex m-0 justify-between w-full max-w-[1500px] ">
		<!--container-->
		<a routerLink="/" class=" font-bold p-4 ">FaceBurguer</a>
		<!--logo-->
		<nav>
			<ul>
				<li *ngIf="!isAuth">
					<a routerLink="/login">Login</a>
				</li>
				<li *ngIf="isAuth" class="relative group ">
					<!-- menu-container -->
					<a routerLink="/dashboard">{{ user.name }}</a>
					<div class="menu absolute z-[1001] bg-[#F5F5F5] hidden group-hover:block ">
						<!--menu-->
						<a routerLink="/profile">Perfil</a>
						<a routerLink="/orders">Pedidos</a>
						<a (click)="logout()">Logout</a>
					</div>
				</li>
				<li>
					<a routerLink="/cart-page">
						Carrinho
						<span *ngIf="cartQuantity" class="bg-[#ff4d4d] text-white py-[0.1rem] px-[0.45rem] rounded-full ">
							{{cartQuantity}}
						</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
