<div class="flex justify-center items-center h-full mt-12">
	<!--container-->
	<div class="w-[28rem]">
		<!--details-->
		<app-title title="Login"></app-title>

		<form [formGroup]="loginForm" (ngSubmit)="submit()" class="flex flex-col justify-center">

			<text-input
				[control]="fc.email"
				[showErrorsWhen]="isSubmitted"
				type="email"
				label="Email"
				idInput="email">
			</text-input>

			<text-input
				[control]="fc.password"
				[showErrorsWhen]="isSubmitted"
				type="password"
				label="Senha"
				idInput="senha"
				[hideableValue]="true">
			</text-input>



			<default-button text="Login"></default-button>
			<div class="flex justify-center items-center">
				<!--register-->
				Não tem uma conta? &nbsp;
				<a routerLink="/register" [queryParams]="{returnUrl: returnUrl}"
					class="text-primary hover:font-semibold">
					Criar nova conta
				</a>
			</div>

		</form>
	</div>
</div>
