<div class="flex justify-center items-center h-full my-4">
	<!--container-->
	<div class="w-[25rem]">
		<!--details-->
		<app-title title="Cadastro"></app-title>
		<form [formGroup]="registerForm" (ngSubmit)="submit()">
			<text-input
				[control]="fc.name"
				[showErrorsWhen]="isSubmitted"
				label="Nome"
				idInput="nome">
			</text-input>

			<text-input
				[control]="fc.cpf"
				[showErrorsWhen]="isSubmitted"
				label="CPF"
				idInput="cpf">
			</text-input>

			<text-input
				[control]="fc.email"
				[showErrorsWhen]="isSubmitted"
				label="Email"
				type="email"
				idInput="email">
			</text-input>

			<text-input
				[control]="fc.password"
				[showErrorsWhen]="isSubmitted"
				label="Senha"
				type="password"
				idInput="senha"
				[hideableValue]="true">
			</text-input>

			<text-input
				[control]="fc.confirmPassword"
				[showErrorsWhen]="isSubmitted"
				label="Confirmar Senha"
				type="password"
				idInput="confirmar"
				[hideableValue]="true">
			</text-input>

			<text-input
				[control]="fc.cellphone"
				[showErrorsWhen]="isSubmitted"
				label="Celular"
				idInput="celular">
			</text-input>

			<text-input
				[control]="fc.zipCode"
				[showErrorsWhen]="isSubmitted"
				label="CEP"
				idInput="cep">
			</text-input>

			<text-input
				[control]="fc.state"
				[showErrorsWhen]="isSubmitted"
				label="Estado"
				idInput="estado">
			</text-input>

			<text-input
				[control]="fc.city"
				[showErrorsWhen]="isSubmitted"
				label="Cidade"
				idInput="cidade">
			</text-input>

			<text-input
				[control]="fc.district"
				[showErrorsWhen]="isSubmitted"
				label="Bairro"
				idInput="bairro">
			</text-input>

			<text-input
				[control]="fc.street"
				[showErrorsWhen]="isSubmitted"
				label="Rua"
				idInput="rua">
			</text-input>

			<text-input
				[control]="fc.residenceNumber"
				[showErrorsWhen]="isSubmitted"
				label="Numero"
				idInput="residenceNumber">
			</text-input>

			<default-button text="Criar conta"></default-button>

			<div class="flex justify-center items-center">
				<!--login-->
				Já tem uma conta? &nbsp;
				<a routerLink="/login" [queryParams]="{returnUrl: returnUrl}"
					class="text-primary hover:font-semibold">
					Fazer login
				</a>
			</div>
		</form>
	</div>
</div>
