<div class="flex mt-0 mx-8 mb-24 flex-wrap justify-center ">
	<!--container-->
	<div class="flex flex-col w-[35rem] mr-12 ">
		<!--content-->
		<app-title title="Pedido" fontSize="1.6rem"></app-title>
		<form [formGroup]="checkoutForm" class="flex flex-col w-full">
			<text-input [control]="fc.name" label="Nome"></text-input>
			<text-input [control]="fc.address" label="Endereço"></text-input>
		</form>
		<order-items-list [order]="order"></order-items-list>
	</div>
	<div>
		<!--map-->
		<app-title title="Selecione o local aproximado de entrega" fontSize="1.6rem"></app-title>
		<map [order]="order"></map>
	</div>
	<div class="flex basis-full justify-center">
		<!--buttons-container-->
		<div class="m-8 w-[35rem] ">
			<!--buttons-->
			<button (click)="createOrder()"
				class="w-full h-12 opacity-80 hover:opacity-100 text-[1.3rem] border-none rounded-lg text-white bg-primary shadow-[2px_2px_2px_2px_grey] ">
				Ir para o pagamento
			</button>
		</div>
	</div>
</div>
